<h1>Listing templates</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% @_templates.each do |template| %>
  <tr>
    <td><%=h template.title %></td>
    <td><%=h template.body %></td>
    <td><%= link_to "Show", [:admin, @site, template] %></td>
    <td><%= link_to "Edit", edit_admin_site_template_path(@site, template) %></td>
    <td><%= link_to "Destroy", [:admin, @site, template], :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New template", new_admin_site_template_path(@site) %>