<div class="part">
  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <% if f.object.new_record? %>
	  <%= link_to_function "clear", "this.up('.part').remove()" %>
  <% else %>
	  <%= f.check_box "_delete" %>
	  <%= f.label "_delete", "Remove" %>
  <% end %>
</div>
