<p>
  <strong>Title:</strong>
  <%=h @page.title %>
</p>
<p>
  <strong>Slug:</strong>
  <%=h @page.slug %>
</p>
<p>
  <strong>Body:</strong>
  <%=h @page.part(:body).content %>
</p>

<%= link_to "Edit", edit_admin_site_page_path(@site, @page) %> |
<%= link_to "Back", admin_site_pages_path(@site) %>
