<p>
  <b>First name:</b>
  <%=h @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @person.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
  <b>Salt:</b>
  <%=h @person.salt %>
</p>

<p>
  <b>Encrypted password:</b>
  <%=h @person.encrypted_password %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>