<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :slug %><br />
  <%= f.text_field :slug %>
</p>
<p>
  <label>File</label><br />
  <%= f.file_field :asset %>
</p>
