<%= f.error_messages %>

<p>
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
</p>
<p>
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</p>