<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>OpenSite: <%= @page_title %></title>
    <%= javascript_include_tag "prototype" %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.8.0r4/build/reset-fonts/reset-fonts.css&2.8.0r4/build/base/base-min.css" />
  </head>
  <body>
    <h1>Site Administration</h1>
    <ul>
      <li><strong><%= link_to "Dashboard", admin_dashboard_path %></strong></li>
      <li><%= link_to "Sites", admin_sites_path %></li>
      <% if admin? %>
      <li><%= link_to "Users", admin_users_path %></li>
      <% end %>
    </ul>
    <% if flash[:notice] %><p style="color: green"><%= flash[:notice] %></p><% end %>
    <% if flash[:error] %><p style="color: red"><%= flash[:error] %></p><% end %>
    <h2><%= @page_title %></h2>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
