<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label :subdomain %><br />
  <%= f.text_field :subdomain %>.<%= APP_CONFIG["host_domain"] %>
</p>

<div id="domains">
  <label>Domains</label><br/>
  <% f.fields_for :domains do |domains_form| %>
    <%= render :partial => "domain", :locals => {:f => domains_form} %>
  <% end %>
</div>

<p><%= link_to_new_nested_form "Add a domain", f, :domains %></p>
